---
import Base from "@layouts/Base.astro";
---
<Base>
  <main class="h-[60vh] grid place-items-center">
    <h3>haul yuh rrrr back <a href="/" class="underline italic">home</a></h3>
  </main>
</Base>
