---
// External imports
import "@fontsource/gotu";
import "@fontsource/aboreto";

// Internal imports
import { Image } from "astro:assets";

// Components
import Base from "@layouts/Base.astro";
import Contacts from "@partials/SingleContact.astro";
import ContactForm from "@components/ContactForm.astro";

// Data imports
import profile from "@about/profile.jpg";
---

<Base title="About">
  <main class="max-w-4xl mx-auto p-8">
    <h1
      transition:name="about"
      class="font-bold font-aboreto text-3xl text-center lg:hidden mb-4"
    >
      About Me
    </h1>
    <div
      class="h-full grid row-span-3 lg:grid-cols-2 px-12 space-y-2 lg:space-x-2 lg:justify-between"
    >
      <Image
        src={profile}
        alt="Rick Tun's profile"
        quality={"mid"}
        class="shadow rounded object-cover md:h-3/4 lg:h-full w-full"
      />
      <section class="space-y-2 text-center md:px-4 py-8 h-72 w-full">
        <h1 class="hidden lg:block font-bold font-aboreto text-3xl">
          About Me
        </h1>
        <article class="font-gotu text-sm md:py-8">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          debitis ad quam laudantium quas nulla officia! Beatae impedit
          asperiores magni qui mollitia doloribus earum architecto sunt
          repellat. Error, magni qui mollitia doloribus earum architecto sunt
          repellat. Error,
        </article>
      </section>
    </div>
  </main>

  <ContactForm />
</Base>
