---
// Layouts
import Base from "@layouts/Base.astro";

// Components
import Polaroid from "@partials/Polaroid.astro";
---

<Base>
  <main class="max-w-4xl mx-auto p-8 grid place-items-center">
    <Polaroid />
  </main>
</Base>
