---
// External imports
import "@fontsource/sacramento";
import "@fontsource/aboreto";

// Component imports
import Base from "@layouts/Base.astro";
import CoverSection from "@components/CoverSection.astro";
---

<Base title="Home">
  <section
    class="h-[50vh] pb-16 space-y-4 flex flex-col justify-end items-center"
  >
    <h1 class="font-aboreto text-4xl md:text-7xl font-bold leading-wide">
      Ricardo Tun
    </h1>
    <h3 class="font-sacramento italic tracking-wider text-3xl md:text-5xl">
      Photography
    </h3>
  </section>

  <CoverSection />
</Base>
