---
// External imports
import "@fontsource/aboreto";
import "@fontsource/sacramento";

// Components
import Base from "@layouts/Base.astro";
// import Service from "@partials/SingleService.astro";

// Data imports
import Service from "@components/Services.astro";
---

<Base title="Services">
  <div class="bg-gray-950">
  <main class="max-w-4xl mx-auto p-8 px-12 lg:px-2">
    <h1 class="font-bold font-aboreto text-3xl text-white text-center mb-4">Services</h1>
    <div class="space-y-8">
      <Service />
    </div>
  </main>
  </div>
</Base>
