---
// External imports
import "@fontsource/sacramento";

// Components 
import Covers from "@partials/Covers.astro";

// Data imports
import landings from "@data/landing.js";

---

<div class="font-sacramento">
    {
        landings.map((landing) => (
            <Covers alt={landing.alt} img={landing.img} link={landing.link}>{landing.title}</Covers>
        ))
    }
</div>
