---
// External imports
import { Image } from "astro:assets";

import logo from "@assets/logo.svg";

// Data imports
import navData from "@data/nav.ts";
---

<header class="z-10 backdrop-blur-lg bg-clean sticky top-0">
  <nav class="max-w-4xl mx-auto space-y-2 py-4 px-2 text-center">
    <a href="/" class="mx-auto w-32">
      <Image
        src={logo}
        alt="Ricardo Tun logo"
        class="mx-auto w-32 max-w-full"
      />
    </a>

    <div class="space-x-4 tracking text-lg">
      {navData.map((nav) => <a href={nav.link}>{nav.title}</a>)}
    </div>
  </nav>
</header>
