---
// astro imports 
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// images
import logo from "@images/camera-logo.png";

// components 
import Nav from "@components/Navbar.astro";
---
<!-- header starts -->
<header>
    <nav class="">
        <div class="px-8 py-4 max-w-5xl mx-auto flex justify-between items-center">
            <!-- logo -->
            <a href="/">
                <Image src={logo} alt="Logo" class="w-16 md:w-20" />  
            </a>

            <!-- hamburger menu -->
            <button id="nav-menu" class="md:hidden">
                <Icon name="clarity:menu-line" title="Menu" width={36} height={36} /> 
            </button>

            <!-- desktop menu -->
            <div class="hidden md:flex">
                <Nav />
            </div>
        </div>


        <!-- mobile menu -->
        <div id="mobile-menu" class="bg-primary-light hidden z-50 fixed top-0 overflow-x-hidden overflow-y-auto w-screen h-full text-accent-dark">
            <div class="text-center font-medium uppercase">
                <div class="h-screen space-y-8 px-4 py-2 flex flex-col justify-between">
                    <!-- close menu -->
                    <button id="close-btn" class="w-fit ml-auto hidden hover:text-accent-gray">
                        <Icon name="clarity:close-line" title="Close menu" width={36} height={36} /> 
                    </button>

                    <Nav /> 

                    <a class="mx-auto pb-12" href="https://www.instagram.com/r__e.photography/" class="w-full h-12" target="_blank">
                        <Icon name="mdi:instagram" width={52}/>
                    </a>
                </div>
            </div>
        </div>
        <!-- mobile menu ends -->
    </nav>
</header>
<!-- header ends -->

<script>
let navMenu = document.getElementById("nav-menu");
let mobileMenu = document.getElementById("mobile-menu");
let closeBtn = document.getElementById("close-btn");

navMenu.addEventListener("click", () => {
    navMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("hidden");
    closeBtn.classList.toggle("hidden");
})

closeBtn.addEventListener("click", () => {
    navMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("hidden");
    closeBtn.classList.toggle("hidden");
})
</script>
