---
// Component imports
import Service from "@partials/SingleService.astro";

// Data imports
import services from "@data/services.js";
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2">
  {
    services.map((service) => (
      <Service icon={service.icon} title={service.title} />
    ))
  }
</div>
