---
// Internal imports 
import { Image } from "astro:assets";

const { img, alt, link } = Astro.props;
---

  <section
    class="relative h-52 md:h-72 w-full grayscale ease-in-out duration-500 hover:grayscale-0"
  >
    <Image
      src={img}
      alt={alt}
      class="absolute -z-10 h-full object-cover object-bottom"
      quality={"mid"}
    />
    <div class="h-full grid place-items-center">
      <a
        href={link}
        class="border border-clean rounded w-1/3 p-2 hover:bg-transparent text-center hover:text-white backdrop-blur-sm shadow-xl text-3xl bg-clean text-black"
        >
        <slot />
        </a
      >
    </div>
  </section>
