---
// External imports
import { Icon } from "astro-icon/components";

// Internal imports
const { icon, title } = Astro.props;

// Data imports
// import services from "@data/services.ts";
---

<div class="mx-auto font-sacramento h-56 w-3/4 sm:w-4/5 md:w-full lg:w-full rounded bg-clean text-white">
    <div class="h-full flex flex-col justify-center items-center space-y-4">
        <Icon name={icon} class="text-5xl" />
        <p class="px-4 lg:px-2 text-center text-5xl">{title}</p>
    </div>
</div>
